@model IEnumerable<MyClosetApp.Models.Accessories>
@*Index pages are where you can view all clothes as thumbnail pics when selecting "view" from the navbar*@
<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
<link href="~/Content/Index.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>Accessories Drawer</h2>

<p>
    @Html.ActionLink("Add New Item", "Create")
</p>

<div class="container">
    @{
        if (Model.Count() == 0)
        {
            <p id="nullimage"><img src="http://yttalk.com/data/attachments/9/9853-1c3dec4be8cbe5df63d444cd18995acf.jpg" alt="y u no have stuff?" /> </p>
            <p id="null">You don't have anything in here!</p>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="col-xs-6 col-md-3">
                    <a href="@Url.Action("Details", "Accessories", new { id = item.AccsID })" class="thumbnail">
                        <img src="@Html.DisplayFor(modelItem => item.PhotoURL)">
                    </a>
                </div>
            }
        }
    }

</div>