/*This stylesheet styles the index pages for each of the clothing types*/

body {
    font-family: 'Dancing Script', cursive;
}
.dropdown-menu {
    font-family:'Oswald', sans-serif;
}
a {
    text-align: center;
}


 /*If nothing in the database, this code styles the error message*/
 #nullimage {
    text-align: center;
}

#null {
    text-align: center;
    color: #5D6B68;
    text-shadow: 0px 0px 5px #A594E5;
    font-size: 50px;
}
